@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 16px 30px;
  color: #000;
  background-color: #A68064;
  box-shadow: 0px 2px 5px 0px rgba(228, 120, 51, 0.75);
 }

 .nav-navbar{
  background-color: #fff;
  color: #E47833;
  font-size: 16px;
  font-weight: bold;
 }

 .logo {
  font-size: 18px;
  font-weight: bold;
 }

 .btn {
  background-color: #A68064;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 15px;
  width: fit-content;
  font-size: 16px;
 }

h2,
h4,
.memo {
	display: flex;
	justify-content: center;
	color: #E47833;
	margin: 1rem;
	padding: 15px;
}

.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 1px solid #A68064;
  box-shadow: 0px 2px 3px #A68064;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}


.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-a {
  display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 5px;
}

#login-b {
  display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	margin-top: 1rem;
	border: none;
	border-radius: 5px;
}

#login-c,
#country {
  display: flex;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	margin-top: 1rem;
	border: none;
	border-radius: 5px;
  width: 300px;
}

#btn-a {
  background-color: lightgray;
  color: #000;
  font-weight: 700;
  padding: 5px 10px;
  margin-top: 15px;
  width: fit-content;
  font-size: 1rem;
}

.account {
  display: flex;
	justify-content: center;
  font-size: 16px;
	color: #E47833;
	margin: 1rem;
}

#link-a {
  background-color: #f9eec3;
  color: #000;
  font-weight: 700;
  padding: 5px 10px;
  margin-top: 10px;
  width: fit-content;
  font-size: 1rem;
}

.ProfilePage {
  background: #E47833;
  border: 1px solid #f9eec3;
  box-shadow: 0px 2px 3px #f9eec3;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.AddGame,
.AddDance {
  background: #A68064;
  border: 1px solid #f9eec3;
  box-shadow: 0px 2px 3px #f9eec3;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.AddGame {
  background: #A68064;
  border: 1px solid #f9eec3;
  box-shadow: 0px 2px 3px #f9eec3;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 5px;
}

.EditGamePage,
.EditDancePage,
.EditProfilePage {
  background: lightgray;
  border: 1px solid #f9eec3;
  box-shadow: 0px 2px 3px #f9eec3;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
  border-radius: 5px;
}

h1,
p {
  display: flex;
	justify-content: center;
	color: #f9eec3;
	margin: 1rem;
	padding: 10px;
}

#img {
  max-width: 304px;
	max-height: 250px;
}

#btn-b {
  background-color: lightgray;
  color: #000;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 5px;
  width: fit-content;
  font-size: 1rem;
}

#login-d {
  display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 5px;
  margin-top: 20px;
}

#login-e {
  display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
  margin-bottom: 20px;
	border: none;
	border-radius: 5px;
}

#login-d1 {
  display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 5px;
  margin-top: 20px;
}

#login-e1 {
  display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
	border: none;
	border-radius: 5px;
}

.adding {
  display: flex;
  text-align: center;
	justify-content: center;
	color: #f9eec3;
	margin: 1rem;
}

#login2 {
  display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 5px;
  margin-top: 20px;
}

#login1 {
  display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
	border: none;
	border-radius: 5px;
}

.bt {
  background-color: #f9eec3;
  color: #000;
  font-weight: 700;
  padding: 5px 10px;
  margin-top: 15px;
  width: fit-content;
  font-size: 1rem;
}

.edits {
  display: flex;
  text-align: center;
	justify-content: center;
	color: #A68064;
	margin: 1rem;
}